<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        form {
            display: flex;
            flex-direction: column;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #f18989;
            background-color: #f18989;
            border-radius: 10px;

        }

    </style>
</head>

<body>
    <!-- form with name and email -->
    <form action="/add_user" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
